@tailwind base;
@tailwind components;
@tailwind utilities;

/* input{
  border: none !important;
  outline: none !important;
} */

@media print {
  .hide{
    display: none !important;
  }
  .text-pm{
    color: #FF9F00 !important;
  }
}


